@import "abstracts/all";
@import "core/all";
@import "~bootstrap/scss/bootstrap.scss";
@import "components/all";
@import "layout/all";
@import "sections/all";
@import "pages/all";

html, body{
  background-color: $main-bg-color;
  color: $main-text-color;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}