$main-bg-color: #161c31;
$paper-color: #283147;
$paper-padding: .8rem 1rem;
$main-text-color: #d0d2d6;
$paper-border-radius: .5rem;
$primary-gradient: linear-gradient(118deg,#7367f0,rgba(115,103,240,.7));
$primary-shadow: 0 0 6px 1px rgba(115, 103, 240, .6);
$primary: #7367f0;
$card-bg: $paper-color;